<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="" method="post">
      <label for="title">Post Title</label>
      <input name="title" placeholder="Blog Post Title" type="text" />
      <label for="text">Blog Text</label>
      <input name="text" placeholder="Insert text here" type="text" />
      
      <button>Create</button>
    </form>
     
  </body>
</html>